/* Estilos generales */
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2c3e50; /* Fondo del cuerpo - Azul oscuro */
  color: #ecf0f1; /* Color del texto */
}

/* Estilos para el encabezado */
header {
  background-color: #3498db; /* Azul brillante */
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

/* Estilos para las secciones */
section {
  background-color: #817c7c; /* Fondo blanco */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Estilos para los títulos de las secciones */
section h2 {
  margin-top: 0;
  font-size: 1.5em;
  color: #3498db; /* Azul brillante */
}

/* Estilos para el pie de página */
footer {
  text-align: center;
  padding: 10px 0;
  background-color: #3498db; /* Azul brillante */
  color: #fff;
}

/* Estilos para los enlaces en el pie de página */
footer a {
  display: inline; /* Hace que el enlace se comporte como texto */
  padding: 5px; /* Aumenta el área de clic sin afectar visualmente */
  background-color: #fff; /* Fondo blanco */
  text-decoration: none; /* Elimina el subrayado predeterminado */
  color: #3498db; /* Azul brillante */
  border-radius: 3px;
  margin: 0 5px; /* Agrega un pequeño margen entre enlaces */
}
